@use "./partials/colors" as *;
@use "./partials/mixin" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;
@import "./partials/globals";

.hero {
	position: relative;
	background-image: url("../assets/images/hero-bio.jpg");
	width: 100%;
	@include mobile {
		height: 33vh;
		background-position: left;
		background-repeat: no-repeat;
		background-size: cover;
	}
	@include tablet {
		height: 33rem;
		background-position: left;
		background-repeat: no-repeat;
		background-size: cover;
	}
	@include desktop {
		height: 36rem;
		background-position: left;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&__heading {
		position: absolute;
		z-index: 2;
		color: $color-white;
		top: 25%;
		@include section__padding;
		@include mobile {
			@include mobile-text-style-1;
		}
		@include tablet {
			@include desktop-text-style-1;
		}
		@include desktop {
			@include desktop-text-style-1;
		}
	}
	&__overlay {
		position: absolute;
		background-color: $color-bandsite-black;
		opacity: 50%;
		z-index: 1;
		width: 100%;
		height: 100%;
	}
}
.musicians {
	width: 100%;
	@include section__padding;
	&__heading {
		@include heading__style($color-bandsite-black);
	}
	&--subtitle {
		padding-top: 3rem;
		padding-bottom: 2.25rem;
		@include desktop-text-style-4;

		@include mobile {
			@include mobile-text-style-4;
			padding-bottom: 1rem;
			padding-top: 1.5rem;
		}
	}
	&__container {
		&--top {
			@include mobile {
				// padding: 1rem;
				padding-top: 0;
			}
			@include tablet {
				padding: 2.25rem;
				padding-top: 0;
			}
			@include desktop {
				padding: 2.25rem;
				padding-top: 0;
			}
		}
		&--bottom {
			@include tablet {
				padding: 0 1.5rem;
			}
			@include desktop {
				padding: 0 1.5rem;
			}
		}
		&--article {
			display: flex;
			flex-direction: column;
			@include mobile {
				display: block;
			}
		}
	}
	&__figure {
		height: 40%;
		width: 100%;
		padding: 0 1.5rem;
		padding-bottom: 2.25rem;

		@include mobile {
			padding: 0;
			padding-bottom: 1rem;
		}
		img {
			width: 100%;
			@include desktop {
				height: 40rem;
			}
		}
	}
	&__text {
		&--quote {
			@include mobile {
				padding: 0;
				@include mobile-text-style-4;
			}
			font-weight: 600;
			@include desktop-text-style-4;
			padding: 0 1.5rem;
		}
		&--artist {
			font-weight: 600;
			padding: 0 1.5rem;
			@include desktop-text-style-6;
			@include mobile {
				@include mobile-text-style-6;
				padding: 0;
			}
		}
		&--band-info {
			column-count: 2;
			@include desktop-text-style-4;
			@include mobile {
				column-count: 1;
				@include mobile-text-style-4;
			}
		}
	}
}
.photo-gallery {
	background-color: $color-alabaster;
	color: $color-bandsite-black;
	@include section__padding;
	&__heading {
		@include heading__style($color-bandsite-black);
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@include desktop {
		}
	}
	&__image {
		filter: grayscale(100%);
		transition: 1s;
		width: 33.33%;
		padding-bottom: 1.5rem;
		padding-right: 1.5rem;
		&:hover {
			filter: grayscale(50%);
		}
		@include mobile {
			padding: 0;
			padding-bottom: 1rem;
			width: 100%;
		}
	}
}
.form {
	@include section__padding;
	&__heading {
		@include heading__style($color-bandsite-black);
	}
	&__content {
		display: flex;
		flex-direction: column;
		&--heading {
			color: $color-silver;
			@include desktop-text-style-6;
			@include mobile {
				@include mobile-text-style-6;
			}
		}
		&--input {
			@include desktop-text-style-6;
			border-radius: 5px;
			resize: none;
			@include mobile {
				@include mobile-text-style-6;
			}
		}
	}
	&__button {
		background-color: $color-bandsite-black;
		border: none;
		color: $color-white;
		padding: 10px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 5px;
	}
	&__container {
		display: flex;
		@include tablet {
			justify-content: center;
		}
		@include desktop {
			justify-content: center;
		}
		&--left {
			background-image: url("../assets/images/Mohan-muruge.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: left;
			border-radius: 50%;
			height: 50px;
			width: 50px;
			margin: 1rem;
			margin-top: 2rem;
		}
		&--right {
			display: flex;
			flex-direction: column;
			// flex-grow: 1;
			width: 50%;
		}
	}
}
.comments {
	display: flex;
	flex-direction: column;
	@include tablet {
		justify-content: center;
		align-items: center;
	}
	@include desktop {
		justify-content: center;
		align-items: center;
	}
	&__container {
		display: flex;
		border-bottom: 1px $color-silver solid;
		border-top: 1px $color-silver solid;
		@include mobile {
			width: 80%;
			padding: 1rem 0;
		}
		@include tablet {
			width: 65%;
			padding: 1.5rem;
		}
		@include desktop {
			justify-content: center;
			width: 40%;
			padding: 2.5rem;
		}
		&--avatar-wrapper {
			@include flex-dja(row, flex-start, flex-start);
			border-bottom: 2px solid #fafafa;
			padding: 1.5rem;
			margin: 0 1rem;
			background-color: $color-silver;
			border-radius: 50%;
			height: 50px;
			width: 50px;
		}
		&--content {
			&--wrapper {
			}
			&--heading {
				display: flex;
				justify-content: space-between;
				@include desktop {
					min-width: 38vh;
					flex-wrap: wrap;
				}
			}
			&-name {
				@include mobile {
					@include mobile-text-style-3;
				}
				@include desktop-text-style-3;
			}
			&-date {
				@include mobile {
					@include mobile-text-style-5;
				}
				@include desktop-text-style-5;
			}
			&-comment {
				@include desktop-text-style-4;
				@include mobile {
					@include mobile-text-style-4;
				}
			}
		}
	}
}
