@use "./partials/colors" as *;
@use "./partials/mixin" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;
@import "./partials/globals";

.hero {
	border-bottom: 1px solid $color-mercury;
	position: relative;
	background-image: url(../assets/images/hero-bio.jpg);
	width: 100%;
	z-index: 0;
	@include mobile {
		height: 30vh;
		background-position: left;
		background-repeat: no-repeat;
		background-size: cover;
	}
	@include tablet {
		height: 40vh;
		background-position: left;
		background-repeat: no-repeat;
		background-size: cover;
	}
	@include desktop {
		height: 50vh;
		background-position: left;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&__heading {
		position: absolute;
		color: $color-white;
		z-index: 2;
		bottom: 50%;
		@include mobile {
			@include mobile-text-style-1;
			padding: 1rem;
		}
		@include tablet {
			@include desktop-text-style-1;
			padding: 2.25rem;
		}
		@include desktop {
			@include desktop-text-style-1;
			padding: 2.25rem 2.25rem 2.25rem 7rem;
		}
	}
	&__overlay {
		position: relative;
		background-color: $color-bandsite-black;
		opacity: 50%;
		z-index: 1;
		width: 100%;
		height: 100%;
	}
}

.musicians {
	width: 100%;
	@include mobile {
		padding: 1rem;
	}
	@include tablet {
		padding: 2.25rem;
	}
	@include desktop {
		padding: 2.25rem 7rem;
	}
	&__heading {
		color: $color-bandsite-black;
		@include mobile {
			@include mobile-text-style-2;
			padding-bottom: 1rem;
		}
		@include tablet {
			@include desktop-text-style-2;
			padding-bottom: 2.25rem;
		}
		@include desktop {
			@include desktop-text-style-2;
			padding-bottom: 2.25rem;
		}
		&--subtitle {
			padding-top: 3rem;
			padding-bottom: 2.25rem;
			@include desktop-text-style-4;

			@include mobile {
				@include mobile-text-style-4;
			}
		}
	}
	&__container {
		&--top {
			@include mobile {
				padding: 1rem;
				padding-top: 0;
			}
			@include tablet {
				padding: 2.25rem;
				padding-top: 0;
			}
			@include desktop {
				padding: 2.25rem;
				padding-top: 0;
			}
		}
		&--bottom {
			@include tablet {
				padding: 0 1.5rem;
			}
			@include desktop {
				padding: 0 1.5rem;
			}
		}
		&--article {
			display: flex;
			flex-direction: column;
			@include mobile {
				display: block;
			}
		}
	}
	&__figure {
		height: 40%;
		width: 100%;
		padding: 0 1.5rem;
		padding-bottom: 2.25rem;

		@include mobile {
			padding-bottom: 1rem;
		}
		img {
			width: 100%;
			@include desktop {
				height: 40rem;
			}
		}
	}
	&__text {
		&--quote {
			@include mobile {
				@include mobile-text-style-4;
			}
			font-weight: 600;
			@include desktop-text-style-4;
			padding: 0 1.5rem;
		}
		&--artist {
			font-weight: 600;
			padding: 0 1.5rem;
			@include desktop-text-style-6;
			@include mobile {
				@include mobile-text-style-6;
			}
		}
		&--band-info {
			column-count: 2;
			@include desktop-text-style-4;
			@include mobile {
				column-count: 1;
				@include mobile-text-style-4;
			}
		}
	}
}

.photo-gallery {
	// padding-top: 30px;
	background-color: $color-alabaster;
	color: $color-bandsite-black;
	@include mobile {
		padding: 1.5rem 1rem;
	}
	@include tablet {
		padding: 3rem 2.25rem;
	}
	@include desktop {
		padding: 3rem 7rem;
	}
	&__heading {
		// padding-left: 1rem;
		@include mobile {
			@include mobile-text-style-2;
		}
		@include desktop-text-style-2;
		padding-bottom: 2.25rem;
		width: 100%;
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@include desktop {
			// padding: 0 4rem;
		}
	}
	&__image {
		filter: grayscale(100%);
		transition: 1s;
		width: 33.33%;
		// padding: 0.5rem;
		padding-bottom: 1.5rem;
		padding-right: 1.5rem;
		&:hover {
			filter: grayscale(50%);
		}
		@include mobile {
			padding: 0.5rem 1rem;
			width: 100%;
		}
	}
}

// .photo-gallery {
// 	border-bottom: 1px solid $color-mercury;
// 	position: relative;
// 	background-color: $color-alabaster;
// 	width: 100%;
// 	@include mobile {
// 		padding: 1.5rem 1rem;
// 	}
// 	@include tablet {
// 		padding: 3rem 2.25rem;
// 	}
// 	@include desktop {
// 		padding: 3rem 2.25rem;
// 	}
// 	&__heading {
// 		@include mobile {
// 			@include mobile-text-style-2;
// 			padding: 1rem 0;
// 		}
// 		@include desktop-text-style-2;
// 		padding-bottom: 2.25rem;
// 	}
// 	&__container {
// 		@include flex-dja(row, space-between, center);
// 		flex-wrap: wrap;
// 		@include mobile {
// 			@include flex-dja(column, center, center);
// 			flex-wrap: nowrap;
// 		}
// 		& img {
// 			display: flex;
// 			flex-wrap: wrap;
// 			width: 28vw;
// 			padding: 0;
// 			padding-bottom: 1.5rem;
// 		}
// 	}
// }
.image {
	width: 100%;
	min-height: 50%;
	max-height: 75%;
	@include mobile {
		padding-bottom: 1rem;
	}
}

.form {
	&__heading {
		@include mobile {
			@include mobile-text-style-2;
			padding: 1rem;
		}
		@include tablet {
			@include desktop-text-style-2;
			padding: 2.5rem;
		}
		@include desktop {
			@include desktop-text-style-2;
			padding: 2.5rem;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		&--heading {
			color: $color-silver;
			@include desktop-text-style-6;
			@include mobile {
				@include mobile-text-style-6;
			}
		}
		&--input {
			@include desktop-text-style-6;
			border-radius: 5px;
			resize: none;
			@include mobile {
				@include mobile-text-style-6;
			}
		}
	}
	&__button {
		background-color: $color-bandsite-black;
		border: none;
		color: $color-white;
		padding: 10px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 5px;
	}
	&__container {
		display: flex;
		@include tablet {
			justify-content: center;
		}
		@include desktop {
			justify-content: center;
		}
		&--left {
			background-image: url("../assets/images/Mohan-muruge.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: left;
			border-radius: 50%;
			height: 50px;
			width: 50px;
			margin: 1rem;
			margin-top: 2rem;
		}
		&--right {
			display: flex;
			flex-direction: column;
			// flex-grow: 1;
			width: 50%;
		}
	}
}
.comments {
	display: flex;
	flex-direction: column;
	@include tablet {
		justify-content: center;
		align-items: center;
	}
	@include desktop {
		justify-content: center;
		align-items: center;
	}
	&__container {
		display: flex;
		border-bottom: 1px $color-silver solid;
		border-top: 1px $color-silver solid;
		@include mobile {
			width: 80%;
			padding: 1rem 0;
		}
		@include tablet {
			width: 65%;
			padding: 1.5rem;
		}
		@include desktop {
			justify-content: center;
			width: 40%;
			padding: 2.5rem;
		}
		&--avatar-wrapper {
			@include flex-dja(row, flex-start, flex-start);
			border-bottom: 2px solid #fafafa;
			padding: 1.5rem;
			margin: 0 1rem;
			background-color: $color-silver;
			border-radius: 50%;
			height: 50px;
			width: 50px;
		}
		&--content {
			&--wrapper {
			}
			&--heading {
				display: flex;
				justify-content: space-between;
				@include desktop {
					min-width: 38vh;
					flex-wrap: wrap;
				}
			}
			&-name {
				@include mobile {
					@include mobile-text-style-3;
				}
				@include desktop-text-style-3;
			}
			&-date {
				@include mobile {
					@include mobile-text-style-5;
				}
				@include desktop-text-style-5;
			}
			&-comment {
				@include desktop-text-style-4;
				@include mobile {
					@include mobile-text-style-4;
				}
			}
		}
	}
}
