@font-face {
  font-family: "Avenir Regular";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "Avenir Bold";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf");
  font-weight: 100;
}
@font-face {
  font-family: "Avenir Demi";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf");
}
@font-face {
  font-family: "Avenir Regular";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "Avenir Bold";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf");
  font-weight: 100;
}
@font-face {
  font-family: "Avenir Demi";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Avenir";
}

.navbar {
  display: flex;
  background-color: #323232;
  flex-direction: row;
  font-size: 0.875rem;
  font-family: "Avenir";
  line-height: 1.375rem;
}
@media screen and (max-width: 767px) {
  .navbar {
    flex-direction: column;
    font-size: 0.8125rem;
    font-family: "Avenir";
    line-height: 1.125rem;
  }
}
.navbar__container {
  display: flex;
}
@media screen and (max-width: 767px) {
  .navbar__container {
    justify-content: center;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .navbar__container {
    padding: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__container {
    padding: 2.25rem 2.25rem 2.25rem 7rem;
  }
}
.navbar__list {
  list-style: none;
  display: inline-block;
  width: 100%;
  justify-content: space-around;
  padding-top: 1rem;
}
@media screen and (max-width: 767px) {
  .navbar__list {
    display: flex;
  }
}
.navbar__list a {
  display: inline-block;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .navbar__list a {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.navbar__link {
  color: #ffffff;
  width: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1.5rem 2rem 0;
  padding-bottom: 2rem;
}
@media screen and (max-width: 767px) {
  .navbar__link {
    text-align: center;
    padding-bottom: 0.5rem;
    margin: 0;
    width: 100%;
  }
}
.navbar__link:hover {
  border-bottom: 3px solid #e1e1e1;
}

.bandsite-logo {
  display: flex;
  max-height: 1.25rem;
  width: 7.5rem;
}

.current {
  border-bottom: 3px solid #e1e1e1;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  width: 100%;
  padding: 1rem;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding: 2.625rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 2.1875rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__container {
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  .footer__container--top {
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__container--top {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container--top {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__container--bottom {
    padding-top: 1.875rem;
    display: flex;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container--bottom {
    padding-top: 1.875rem;
    display: flex;
    justify-content: flex-start;
    width: 70%;
  }
}
.footer__title {
  font-size: 2.25rem;
  font-family: "Avenir";
  line-height: 2.75rem;
  margin-right: 34px;
}
@media screen and (max-width: 767px) {
  .footer__title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-family: "Avenir";
    line-height: 1.375rem;
  }
}
.footer a {
  text-decoration: none;
}
.footer__icon {
  padding-right: 1.5rem;
}
.footer__wrapper {
  padding-bottom: 1.5rem;
}
@media screen and (max-width: 767px) {
  .footer__wrapper {
    padding-bottom: 1rem;
  }
}
.footer__wrapper--team {
  font-size: 0.875rem;
  font-family: "Avenir";
  line-height: 1.25rem;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .footer__wrapper--team {
    font-size: 0.8125rem;
    font-family: "Avenir";
    line-height: 1.125rem;
    font-weight: 600;
  }
}
@media screen and (max-width: 767px) {
  .footer__wrapper--address {
    font-size: 0.8125rem;
    font-family: "Avenir";
    line-height: 1.125rem;
  }
}
.footer__wrapper--email {
  font-size: 0.875rem;
  font-family: "Avenir";
  line-height: 1.25rem;
}
@media screen and (max-width: 767px) {
  .footer__wrapper--email {
    font-size: 0.8125rem;
    font-family: "Avenir";
    line-height: 1.125rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__section {
    display: flex;
    flex-direction: column;
    margin-right: 3.125rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__section {
    display: flex;
    flex-direction: column;
    margin-right: 3.125rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__logo {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    padding-right: 1rem;
  }
}
.footer__copyright {
  font-size: 0.875rem;
  font-family: "Avenir";
  line-height: 1.25rem;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 0.8125rem;
    font-family: "Avenir";
    line-height: 1.125rem;
  }
}

.hero {
  border-bottom: 1px solid #e1e1e1;
  position: relative;
  background-image: url(../assets/images/hero-bio.jpg);
  width: 100%;
  z-index: 0;
}
@media screen and (max-width: 767px) {
  .hero {
    height: 30vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero {
    height: 40vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 50vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.hero__heading {
  position: absolute;
  color: #ffffff;
  z-index: 2;
  bottom: 50%;
}
@media screen and (max-width: 767px) {
  .hero__heading {
    font-size: 1.5rem;
    font-family: "Avenir";
    line-height: 2rem;
    padding: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__heading {
    font-size: 3.75rem;
    font-family: "Avenir";
    line-height: 4.25rem;
    padding: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__heading {
    font-size: 3.75rem;
    font-family: "Avenir";
    line-height: 4.25rem;
    padding: 2.25rem 2.25rem 2.25rem 7rem;
  }
}
.hero__overlay {
  position: relative;
  background-color: #323232;
  opacity: 50%;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.musicians {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .musicians {
    padding: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .musicians {
    padding: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .musicians {
    padding: 2.25rem 7rem;
  }
}
.musicians__heading {
  color: #323232;
}
@media screen and (max-width: 767px) {
  .musicians__heading {
    font-size: 1.5rem;
    font-family: "Avenir";
    line-height: 1.375rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .musicians__heading {
    font-size: 2.25rem;
    font-family: "Avenir";
    line-height: 2.75rem;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__heading {
    font-size: 2.25rem;
    font-family: "Avenir";
    line-height: 2.75rem;
    padding-bottom: 2.25rem;
  }
}
.musicians__heading--subtitle {
  padding-top: 3rem;
  padding-bottom: 2.25rem;
  font-size: 0.875rem;
  font-family: "Avenir";
  line-height: 1.375rem;
}
@media screen and (max-width: 767px) {
  .musicians__heading--subtitle {
    font-size: 0.8125rem;
    font-family: "Avenir";
    line-height: 1.125rem;
  }
}
@media screen and (max-width: 767px) {
  .musicians__container--top {
    padding: 1rem;
    padding-top: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .musicians__container--top {
    padding: 2.25rem;
    padding-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__container--top {
    padding: 2.25rem;
    padding-top: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .musicians__container--bottom {
    padding: 0 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__container--bottom {
    padding: 0 1.5rem;
  }
}
.musicians__container--article {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .musicians__container--article {
    display: block;
  }
}
.musicians__figure {
  height: 40%;
  width: 100%;
  padding: 0 1.5rem;
  padding-bottom: 2.25rem;
}
@media screen and (max-width: 767px) {
  .musicians__figure {
    padding-bottom: 1rem;
  }
}
.musicians__figure img {
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .musicians__figure img {
    height: 40rem;
  }
}
.musicians__text--quote {
  font-weight: 600;
  font-size: 0.875rem;
  font-family: "Avenir";
  line-height: 1.375rem;
  padding: 0 1.5rem;
}
@media screen and (max-width: 767px) {
  .musicians__text--quote {
    font-size: 0.8125rem;
    font-family: "Avenir";
    line-height: 1.125rem;
  }
}
.musicians__text--artist {
  font-weight: 600;
  padding: 0 1.5rem;
  font-size: 0.75rem;
  font-family: "Avenir";
  line-height: 1.25rem;
}
@media screen and (max-width: 767px) {
  .musicians__text--artist {
    font-size: 0.625rem;
    font-family: "Avenir";
    line-height: 1.25rem;
  }
}
.musicians__text--band-info {
  -moz-column-count: 2;
       column-count: 2;
  font-size: 0.875rem;
  font-family: "Avenir";
  line-height: 1.375rem;
}
@media screen and (max-width: 767px) {
  .musicians__text--band-info {
    -moz-column-count: 1;
         column-count: 1;
    font-size: 0.8125rem;
    font-family: "Avenir";
    line-height: 1.125rem;
  }
}

.photo-gallery {
  background-color: #fafafa;
  color: #323232;
}
@media screen and (max-width: 767px) {
  .photo-gallery {
    padding: 1.5rem 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .photo-gallery {
    padding: 3rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .photo-gallery {
    padding: 3rem 7rem;
  }
}
.photo-gallery__heading {
  font-size: 2.25rem;
  font-family: "Avenir";
  line-height: 2.75rem;
  padding-bottom: 2.25rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .photo-gallery__heading {
    font-size: 1.5rem;
    font-family: "Avenir";
    line-height: 1.375rem;
  }
}
.photo-gallery__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.photo-gallery__image {
  filter: grayscale(100%);
  transition: 1s;
  width: 33.33%;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
}
.photo-gallery__image:hover {
  filter: grayscale(50%);
}
@media screen and (max-width: 767px) {
  .photo-gallery__image {
    padding: 0.5rem 1rem;
    width: 100%;
  }
}

.image {
  width: 100%;
  min-height: 50%;
  max-height: 75%;
}
@media screen and (max-width: 767px) {
  .image {
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .form__heading {
    font-size: 1.5rem;
    font-family: "Avenir";
    line-height: 1.375rem;
    padding: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form__heading {
    font-size: 2.25rem;
    font-family: "Avenir";
    line-height: 2.75rem;
    padding: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .form__heading {
    font-size: 2.25rem;
    font-family: "Avenir";
    line-height: 2.75rem;
    padding: 2.5rem;
  }
}
.form__content {
  display: flex;
  flex-direction: column;
}
.form__content--heading {
  color: #afafaf;
  font-size: 0.75rem;
  font-family: "Avenir";
  line-height: 1.25rem;
}
@media screen and (max-width: 767px) {
  .form__content--heading {
    font-size: 0.625rem;
    font-family: "Avenir";
    line-height: 1.25rem;
  }
}
.form__content--input {
  font-size: 0.75rem;
  font-family: "Avenir";
  line-height: 1.25rem;
  border-radius: 5px;
  resize: none;
}
@media screen and (max-width: 767px) {
  .form__content--input {
    font-size: 0.625rem;
    font-family: "Avenir";
    line-height: 1.25rem;
  }
}
.form__button {
  background-color: #323232;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.form__container {
  display: flex;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form__container {
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .form__container {
    justify-content: center;
  }
}
.form__container--left {
  background-image: url("../assets/images/Mohan-muruge.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 1rem;
  margin-top: 2rem;
}
.form__container--right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.comments {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .comments {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .comments {
    justify-content: center;
    align-items: center;
  }
}
.comments__container {
  display: flex;
  border-bottom: 1px #afafaf solid;
  border-top: 1px #afafaf solid;
}
@media screen and (max-width: 767px) {
  .comments__container {
    width: 80%;
    padding: 1rem 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .comments__container {
    width: 65%;
    padding: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments__container {
    justify-content: center;
    width: 40%;
    padding: 2.5rem;
  }
}
.comments__container--avatar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 2px solid #fafafa;
  padding: 1.5rem;
  margin: 0 1rem;
  background-color: #afafaf;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.comments__container--content--heading {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1280px) {
  .comments__container--content--heading {
    min-width: 38vh;
    flex-wrap: wrap;
  }
}
.comments__container--content-name {
  font-size: 1.5rem;
  font-family: "Avenir";
  line-height: 2rem;
}
@media screen and (max-width: 767px) {
  .comments__container--content-name {
    font-size: 0.875rem;
    font-family: "Avenir";
    line-height: 1.375rem;
  }
}
.comments__container--content-date {
  font-size: 0.875rem;
  font-family: "Avenir";
  line-height: 1.25rem;
}
@media screen and (max-width: 767px) {
  .comments__container--content-date {
    font-size: 0.8125rem;
    font-family: "Avenir";
    line-height: 1.125rem;
  }
}
.comments__container--content-comment {
  font-size: 0.875rem;
  font-family: "Avenir";
  line-height: 1.375rem;
}
@media screen and (max-width: 767px) {
  .comments__container--content-comment {
    font-size: 0.8125rem;
    font-family: "Avenir";
    line-height: 1.125rem;
  }
}/*# sourceMappingURL=bio.css.map */