//TODO change filename to bio.scss

@use "./partials/colors" as *;
@use "./partials/mixin" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;
// @use "./partials/keyframes" as *;
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.header {
	color: $color-white;
	background-color: $color-bandsite-black;
	width: 100%;
	border-bottom: 1px solid $color-mercury;
	@include mobile {
		@include flex-dja(column, center, center);
		padding-top: 1rem;
		text-align: center;
	}
	@include tablet {
		@include flex-dja(row, flex-start, center);
		padding: 3rem 2.25rem 2.25rem 2.25rem;
	}
	@include desktop {
		@include flex-dja(row, flex-start, center);
		padding: 3rem 2.25rem 2.25rem 2.25rem;
	}

	& a {
		color: $color-white;
		text-decoration: none;
	}
}
.navbar {
	width: 100%;
	&--list {
		@include flex-dja(row, flex-start, center);
		list-style: none;
		@include tablet {
			padding: 0 2.25rem;
		}
		@include desktop {
			padding: 2.25rem;
		}
		& > li {
			@include mobile {
				width: 100%;
				padding-bottom: 1rem;
				@include mobile-text-style-6;
				&:active {
					@include mobile-text-style-6;
					width: 100%;
					padding-bottom: 1rem;
					border-bottom: 0.1875rem $color-mercury solid;
				}
				&:hover {
					@include mobile-text-style-6;
					width: 100%;
					color: $color-white;
					text-decoration: none;
					padding-bottom: 1rem;
					border-bottom: 0.1875rem $color-mercury solid;
				}
			}
			@include tablet {
				padding: 0 2.25rem;
				@include desktop-text-style-6;
				&:active {
					@include desktop-text-style-6;
					padding-bottom: 2.25rem;
					margin-bottom: -2.25rem;
					border-bottom: 0.1875rem $color-mercury solid;
				}
				&:hover {
					@include desktop-text-style-6;
					color: $color-white;
					text-decoration: none;
					padding-bottom: 2.25rem;
					margin-bottom: -2.25rem;
					border-bottom: 0.1875rem $color-mercury solid;
				}
			}
			@include desktop {
				@include desktop-text-style-6;
				padding: 0 2.25rem;

				&:active {
					@include desktop-text-style-6;
					padding-bottom: 4.25rem;
					margin-bottom: -4.25rem;
					border-bottom: 0.1875rem $color-mercury solid;
				}
				&:hover {
					@include desktop-text-style-6;
					color: $color-white;
					text-decoration: none;
					padding-bottom: 4.25rem;
					margin-bottom: -4.25rem;
					border-bottom: 0.1875rem $color-mercury solid;
				}
			}
		}
	}
}
.hero {
	border-bottom: 1px solid $color-mercury;
	position: relative;
	background-image: url(../assets/images/hero-bio.jpg);
	width: 100%;
	z-index: 0;
	@include mobile {
		height: 30vh;
		background-position: left;
		background-repeat: no-repeat;
		background-size: cover;
	}
	@include tablet {
		height: 40vh;
		background-position: left;
		background-repeat: no-repeat;
		background-size: cover;
	}
	@include desktop {
		height: 50vh;
		background-position: left;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&__heading {
		position: absolute;
		color: $color-white;
		z-index: 2;
		bottom: 50%;
		@include mobile {
			@include mobile-text-style-1;
			padding: 1rem;
		}
		@include tablet {
			@include desktop-text-style-1;
			padding: 2.25rem;
		}
		@include desktop {
			@include desktop-text-style-1;
			padding: 2.25rem;
		}
	}
	&__overlay {
		position: relative;
		background-color: $color-bandsite-black;
		opacity: 50%;
		z-index: 1;
		width: 100%;
		height: 100%;
	}
}

.musicians {
	border-bottom: 1px solid $color-mercury;
	width: 100%;
	@include desktop {
		padding: 0 2.25rem;
	}
	@include tablet {
		padding: 0 2.25rem;
	}
	@include mobile {
		padding: 0 0.5rem;
	}
	&__heading {
		@include mobile {
			@include mobile-text-style-2;
			padding: 1.5rem 1rem 1rem 1rem;
		}
		@include tablet {
			@include desktop-text-style-2;
			padding: 3rem 2.25rem 2.25rem 2.25rem;
		}
		@include desktop {
			@include desktop-text-style-2;
			padding: 3rem 2.25rem 2.25rem 2.25rem;
		}
	}
	&__div {
		@include mobile {
			padding: 1rem;
			padding-top: 0;
		}
		@include tablet {
			padding: 2.25rem;
			padding-top: 0;
		}
		@include desktop {
			padding: 2.25rem;
			padding-top: 0;
		}
		&--notable-quote {
			& div img {
				min-width: auto;
			}
			@include flex-djawrap(column, center, flex-start);
			& h2 {
				@include mobile {
					@include mobile-text-style-3;
				}
				@include tablet {
					margin: 0 2.25rem;
					padding: 2.25rem 0;
					padding-bottom: 0.5rem;
					@include desktop-text-style-3;
				}
				@include desktop {
					margin: 0 2.25rem;
					padding: 2.25rem 0;
					padding-bottom: 0.5rem;
					@include desktop-text-style-3;
				}
			}
			& h3 {
				@include mobile {
					@include mobile-text-style-4;
				}
				@include tablet {
					margin: 0 2.25rem;
					padding-bottom: 2.25rem;
					@include desktop-text-style-4;
				}
				@include desktop {
					margin: 0 2.25rem;
					padding-bottom: 2.25rem;
					@include desktop-text-style-4;
				}
			}
		}
		&--band-info {
			margin: 0 2.25rem;

			@include flex-dja(column, center, flex-start);
			& h2 {
				padding-bottom: 2rem;
				@include desktop-text-style-3;
			}
			& p {
				column-count: 2;
				@include desktop-text-style-4;
			}
			@include mobile {
				margin: 0;
				padding: 1rem 0;
				& h2 {
					padding-bottom: 1rem;
					@include mobile-text-style-3;
				}
				& p {
					column-count: 1;
					padding-bottom: 1rem;
					@include mobile-text-style-4;
				}
			}
		}
	}
}
.photo-gallery {
	border-bottom: 1px solid $color-mercury;
	position: relative;
	background-color: $color-alabaster;
	width: 100%;
	@include mobile {
		padding: 1.5rem 1rem;
	}
	@include tablet {
		padding: 3rem 2.25rem;
	}
	@include desktop {
		padding: 3rem 2.25rem;
	}
	&__heading {
		@include mobile {
			@include mobile-text-style-2;
			padding: 1rem 0;
		}
		@include desktop-text-style-2;
		padding-bottom: 2.25rem;
	}
	&__container {
		@include flex-dja(row, space-between, center);
		flex-wrap: wrap;
		@include mobile {
			@include flex-dja(column, center, center);
			flex-wrap: nowrap;
		}
		& img {
			display: flex;
			flex-wrap: wrap;
			width: 28vw;
			padding: 0;
			padding-bottom: 1.5rem;
		}
	}
}
.footer {
	border-bottom: 1px solid $color-mercury;
	position: relative;
	color: $color-white;
	background-color: $color-bandsite-black;
	width: 100%;
	&__container {
		&--top {
			@include mobile {
				padding: 1.5rem 1rem;
				@include flex-dja(column, flex-start, flex-start);
			}
			@include tablet {
				padding: 3rem 2.25rem 2.25rem 2.25rem;
				@include flex-dja(row, none, flex-start);
				& div {
					align-self: center;
				}
			}
			@include desktop {
				padding: 3rem 2.25rem 2.25rem 2.25rem;
				@include flex-dja(row, none, flex-start);
				& div {
					align-self: center;
				}
			}
		}
		&--middle {
			@include flex-dja(row, flex-start, flex-start);
			padding: 0 2.25rem;
			@include mobile {
				@include flex-dja(column, flex-start, flex-start);
				padding: 0;
			}
		}
		&--bottom {
			padding: 0 2.25rem;
			@include mobile {
				padding: 1rem;
				& p {
					@include mobile-text-style-5;
					padding: 1rem 0;
				}
			}
			& > img {
				@include tablet {
					display: none;
				}
				@include desktop {
					display: none;
				}
			}
		}
	}
	&__heading {
		&--title {
			@include desktop-text-style-2;
			display: flex;
			align-items: flex-start;
			@include mobile {
				@include mobile-text-style-2;
				padding-bottom: 1rem;
			}
		}
		&--icons {
			padding-left: 0;
			& div {
				margin: 0 2rem;
			}
			& div a {
				margin-right: 1rem;
			}
			@include mobile {
				& div {
					margin: 0;
				}
				display: flex;
				& div:nth-child(2) {
					display: none;
				}
				& div a {
					padding: 1rem 2rem 1rem 0;
				}
			}
			& div:nth-child(3) {
				justify-content: flex-end;
			}
		}
		&--logo {
			@include mobile {
				display: none;
			}
			margin-left: auto;
		}
	}
	&--contact-info {
		@include mobile {
			padding: 1rem;
			@include flex-dja(column, none, none);
			& > h2 {
				@include mobile-text-style-3;
			}
			& > h3 {
				@include mobile-text-style-5;
				padding-top: 1rem;
			}
		}
		padding-right: 2.25rem;
		@include flex-dja(column, none, none);
		& > h2 {
			@include desktop-text-style-3;
			padding-bottom: 1rem;
		}
		& > h3 {
			@include desktop-text-style-5;
			padding-bottom: 1rem;
		}
	}
}

.logo {
	@include mobile {
		height: 20px;
		width: 120px;
	}
	@include tablet {
		height: 1.25rem;
		width: 7.5rem;
	}
	@include desktop {
		height: 1.25rem;
		width: 7.5rem;
	}
}
.image {
	width: 100%;
	min-height: 50%;
	max-height: 75%;
	@include mobile {
		padding-bottom: 1rem;
	}
}
.form {
	&__heading {
		@include mobile {
			@include mobile-text-style-2;
		}
		@include tablet {
			@include desktop-text-style-2;
		}
		@include desktop {
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		&--heading {
			color: $color-silver;
			@include desktop-text-style-6;
			@include mobile {
				@include mobile-text-style-6;
			}
		}
		&--input {
			@include desktop-text-style-6;
			border-radius: 5px;
			resize: none;
			@include mobile {
				@include mobile-text-style-6;
			}
		}
	}
	&__button {
		background-color: $color-bandsite-black;
		border: none;
		color: $color-white;
		padding: 10px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 5px;
	}
	&__container {
		display: flex;
		&--left {
			background-image: url("../assets/images/Mohan-muruge.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: left;
			border-radius: 50%;
			height: 50px;
			width: 50px;
			margin: 1rem;
			margin-top: 2rem;
		}
		&--right {
			display: flex;
			flex-direction: column;
			// flex-grow: 1;
			width: 50%;
		}
	}
}

.comments {
	&__container {
		display: flex;
		@include mobile {
			width: 80%;
		}
		@include tablet {
			width: 65%;
		}
		@include desktop {
			width: 40%;
		}
		&--avatar-wrapper {
			@include flex-dja(row, flex-start, flex-start);
			border-bottom: 2px solid #fafafa;
			padding: 1.5rem 0;
			background-color: $color-silver;
			border-radius: 50%;
			height: 50px;
			width: 50px;
		}
		&--content--wrapper {
		}
		&--content--heading {
			display: flex;
			justify-content: space-between;
		}
	}
}

// .comments {
// 	@include mobile {
// 		&__heading {
// 			@include mobile-text-style-1;
// 			padding: 1rem;
// 		}
// 		&__container {
// 			display: flex;
// 			&--left {
// 				display: flex;
// 				justify-content: flex-start;
// 			}
// 			&--right {
// 				display: flex;
// 				flex-grow: 1;
// 			}
// 		}
// 		& form {
// 			display: flex;
// 			flex-direction: column;
// 			padding: 1rem;
// 			flex-grow: 1;
// 		}
// 		& label {
// 			@include mobile-text-style-3;
// 			color: silver;
// 		}
// 		& input {
// 			@include mobile-text-style-3;
// 			color: $color-bandsite-black;
// 			border-radius: 5px;
// 			&::placeholder {
// 				@include mobile-text-style-3;
// 				padding: 1rem;
// 			}
// 		}
// 		& textarea {
// 			border-radius: 5px;
// 			resize: none;
// 			@include mobile-text-style-3;
// 			&::placeholder {
// 				@include mobile-text-style-3;
// 				padding: 0.5rem 0 0 1rem;
// 			}
// 		}
// 		&__button {
// 			background-color: $color-bandsite-black;
// 			border: none;
// 			color: $color-white;
// 			padding: 10px 20px;
// 			text-align: center;
// 			text-decoration: none;
// 			display: inline-block;
// 			margin: 4px 2px;
// 			cursor: pointer;
// 			border-radius: 5px;
// 		}
// 	}

// 	&__avatar {
// 		background-image: url("../assets/images/Mohan-muruge.jpg");
// 		background-size: cover;
// 		background-repeat: no-repeat;
// 		background-position: left;
// 		border-radius: 50%;
// 		height: 50px;
// 		width: 50px;
// 		margin: 1rem;
// 		margin-top: 2rem;
// 	}
// }

// // 	&__form {
// // 		display: flex;
// // 		flex-grow: 1;
// // 		height: 200px;
// // 		flex-direction: column;
// // 		&--heading {
// // 			@include mobile-text-style-3;
// // 			color: $color-mercury;
// // 			margin-top: 1rem;
// // 		}
// // 		&--input {
// // 			@include mobile-text-style-3;
// // 			color: $color-mercury;
// // 			background-color: $color-alabaster;
// // 			padding: 0.5rem;
// // 			border-radius: 5px;
// // 			border-color: $color-alabaster;
// // 			&:nth-of-type(2) {
// // 				height: 100px;
// // 			}
// // 			&::placeholder {
// // 				display: flex;
// // 				align-self: flex-start;
// // 				// padding: 1rem;
// // 				color: $color-bandsite-black;
// // 			}
// // 		}
// // 	}
// // }
// // &--single {
// // 	min-height: 5rem;
// // }
// // &__heading {
// // 	//fix fonts
// // }
// // &__container {
// // 	display: flex;
// // flex-direction: column;
// // &--avatar {
// // 	display: flex;
// // 	flex-direction: column;
// // }
// // 	}

// // 	&__input {
// // 		display: flex;
// // 		flex-direction: column;
// // 		justify-content: flex-start;
// // 		height: 200px;
// // 	}
// // }
