@font-face {
  font-family: "Avenir Regular";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "Avenir Bold";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf");
  font-weight: 100;
}
@font-face {
  font-family: "Avenir Demi";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf");
}
* {
  font-family: "Avenir Regular";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1280px) {
  body {
    width: 100%;
  }
}
.header {
  color: #ffffff;
  background-color: #323232;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.header a {
  color: #ffffff;
  text-decoration: none;
}

.navbar {
  width: 100%;
}
.navbar--list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}
@media screen and (max-width: 767px) {
  .navbar--list > li {
    width: 50%;
  }
}
.navbar--list > li:hover {
  border-bottom: 0.1875rem #e1e1e1 solid;
}
.navbar--link {
  color: #ffffff;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .navbar--current {
    border-bottom: 0.1875rem #e1e1e1 solid;
    width: auto;
  }
}

.hero {
  position: relative;
  background-image: url(../assets/images/hero-bio.jpg);
  width: 100%;
}
@media (min-width: 1280px) {
  .hero {
    height: 50vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero {
    height: 40vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    height: 11.5rem;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.hero__div {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #323232;
  opacity: 50%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.hero__heading {
  bottom: 50%;
  z-index: 2;
  position: absolute;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 4.25rem;
  color: #ffffff;
}
@media (min-width: 1280px) {
  .hero__heading {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 4.25rem;
  }
}
@media screen and (max-width: 767px) {
  .hero__heading {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero__heading {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 4.25rem;
  }
}

.musicians {
  width: 100%;
  height: 100%;
}
@media (min-width: 1280px) {
  .musicians__heading {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.75rem;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .musicians__heading {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.75rem;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .musicians__heading {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.375rem;
  }
}
.musicians__div--band-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.musicians__div--article {
  -moz-column-count: 2;
       column-count: 2;
}
@media screen and (max-width: 767px) {
  .musicians__div--article {
    -moz-column-count: 1;
         column-count: 1;
  }
}
.musicians__div--band {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}
.musicians__div--notable-quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.musicians__text {
  -moz-column-count: 2;
       column-count: 2;
}

.photo-gallery {
  background-color: #fafafa;
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.photo-gallery__heading {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.75rem;
}
@media screen and (max-width: 767px) {
  .photo-gallery__heading {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.375rem;
  }
}
.photo-gallery__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .photo-gallery__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.photo-gallery__container > div {
  width: 28vw;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .photo-gallery__container {
    flex-wrap: wrap;
    width: 100%;
  }
}

.footer {
  position: relative;
  color: #ffffff;
  background-color: #323232;
  width: 100%;
  height: auto;
}
.footer__heading--title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.75rem;
  align-items: flex-start;
}
@media screen and (max-width: 767px) {
  .footer__heading--title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.375rem;
  }
}
.footer__heading--icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.footer__heading--icons div {
  width: 100%;
  display: flex;
  height: 2rem;
}
.footer__heading--icons div:nth-child(2) {
  justify-content: flex-end;
}
.footer__container--top {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
}
@media screen and (max-width: 767px) {
  .footer__container--top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer__container--top > div:nth-child(2) {
    display: none;
  }
}
.footer__container--middle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
@media screen and (max-width: 767px) {
  .footer__container--middle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__container--bottom > img {
    display: none;
  }
}
@media (min-width: 1280px) {
  .footer__container--bottom > img {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .footer--contact-info {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer--contact-info {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    height: 20px;
    width: 120px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .logo {
    width: 7.5rem;
  }
}
@media (min-width: 1280px) {
  .logo {
    height: 1.25rem;
    width: 7.5rem;
  }
}

.image {
  width: 100%;
  height: auto;
}/*# sourceMappingURL=global.css.map */