@font-face {
  font-family: "Avenir Regular";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "Avenir Bold";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf");
  font-weight: 100;
}
@font-face {
  font-family: "Avenir Demi";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf");
}
* {
  font-family: "Avenir Regular";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1280px) {
  body {
    width: 100%;
    margin: auto;
  }
}
@media (max-width: 767px) {
  body {
    width: 100%;
  }
}

.header {
  position: sticky;
  background-color: #323232;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 2rem;
  margin: auto;
  width: 100%;
}
@media (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.header a {
  color: #ffffff;
  text-decoration: none;
}

.navbar--list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 1rem 0;
}
.navbar--list > li {
  padding: 0 3rem;
}
@media (max-width: 767px) {
  .navbar--list > li {
    padding: 0 1rem;
  }
}
.navbar--link {
  color: #ffffff;
  text-decoration: none;
  width: 10%;
}
.navbar--current {
  border-bottom: 0.1875rem #e1e1e1 solid;
}

.hero {
  position: relative;
  background-image: url(../assets/images/hero-bio.jpg);
  width: 100%;
}
@media (min-width: 1280px) {
  .hero {
    height: 50vh;
    width: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero {
    height: 40vh;
    width: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 767px) {
  .hero {
    height: 30vh;
    width: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.hero__div {
  position: absolute;
  padding: 2.25rem;
  height: 100%;
  width: 100%;
  background-color: #323232;
  opacity: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 767px) {
  .hero__div {
    padding: 1rem;
  }
}
.hero__heading {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 4.25rem;
  color: #ffffff;
}
@media (min-width: 1280px) {
  .hero__heading {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 4.25rem;
  }
}
@media (max-width: 767px) {
  .hero__heading {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    text-align: center;
  }
}

@media (min-width: 1280px) {
  .musicians {
    padding: 0 2.25rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .musicians {
    padding: 0 2.25rem;
  }
}
@media (max-width: 767px) {
  .musicians {
    padding: 0 1rem;
  }
}
@media (min-width: 1280px) {
  .musicians__heading {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.75rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .musicians__heading {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.75rem;
  }
}
@media (max-width: 767px) {
  .musicians__heading {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.375rem;
  }
}
.musicians__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .musicians__div {
    align-items: flex-start;
  }
}
.musicians__div--figure-caption {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 35vh;
}
.musicians__div--band-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}
@media (max-width: 767px) {
  .musicians__div--band-info {
    align-items: flex-start;
  }
}
.musicians__div--article {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: none;
  -moz-column-count: 2;
       column-count: 2;
  width: 100%;
}
.musicians__div--band {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}
.musicians__div--notable-quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 75%;
}
.musicians__text {
  -moz-column-count: 2;
       column-count: 2;
}
.musicians__image {
  background-image: url("../assets/images/band.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 767px) {
  .musicians__image {
    background-position: left;
  }
}

.photo-gallery {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2.25rem;
}
@media (max-width: 767px) {
  .photo-gallery {
    padding: 1rem;
  }
}
.photo-gallery__heading {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.75rem;
}
@media (max-width: 767px) {
  .photo-gallery__heading {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.375rem;
  }
}
.photo-gallery__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .photo-gallery__container {
    padding: 1rem, 0;
  }
}

.footer {
  position: relative;
  background-color: #323232;
  height: 40vh;
  width: 100%;
  flex-shrink: 0;
}
.footer__heading--title {
  padding: 2.25rem;
  display: flex;
  align-items: flex-start;
}
.footer__heading--icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1.25rem;
}
.footer__heading--icons > img > a {
  padding: 1.25rem;
}
.footer__container--top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.image1 {
  background-image: url("../assets/images/Photo-gallery-1.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1rem;
  margin: 0;
}

.image2 {
  background-image: url("../assets/images/Photo-gallery-2.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0rem;
  margin: 1rem;
}

.image3 {
  background-image: url("../assets/images/Photo-gallery-3.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0rem;
  margin: 1rem;
}

.image4 {
  background-image: url("../assets/images/Photo-gallery-4.jpg");
  height: 20vh;
  width: 20vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0rem;
  margin: 1rem;
}

.image5 {
  background-image: url("../assets/images/Photo-gallery-5.jpg");
  height: 20vh;
  width: 20vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0rem;
  margin: 1rem;
}

.image6 {
  background-image: url("../assets/images/Photo-gallery-6.jpg");
  height: 20vh;
  width: 20vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0rem;
  margin: 1rem;
}

.image7 {
  background-image: url("../assets/images/Photo-gallery-7.jpg");
  height: 20vh;
  width: 20vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0rem;
  margin: 1rem;
}

.image8 {
  background-image: url("../assets/images/Photo-gallery-8.jpg");
  height: 20vh;
  width: 20vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0rem;
  margin: 1rem;
}

.image9 {
  background-image: url("../assets/images/Photo-gallery-9.jpg");
  height: 20vh;
  width: 20vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0rem;
  margin: 1rem;
}

.logo {
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .logo {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
  }
}
@media (min-width: 1280px) {
  .logo {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 4.25rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .logo {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 4.25rem;
  }
}/*# sourceMappingURL=global.css.map */