@use "./partials/colors" as *;
@use "./partials/mixin" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.header {
	color: $color-white;
	background-color: $color-bandsite-black;
	width: 100%;
	border-bottom: 1px solid $color-mercury;
	@include mobile {
		@include flex-dja(column, center, center);
		padding-top: 1rem;
		text-align: center;
	}
	@include tablet {
		@include flex-dja(row, flex-start, center);
		padding: 3rem 2.25rem 2.25rem 2.25rem;
	}
	@include desktop {
		@include flex-dja(row, flex-start, center);
		padding: 3rem 2.25rem 2.25rem 2.25rem;
	}

	& a {
		color: $color-white;
		text-decoration: none;
	}
}
.navbar {
	width: 100%;
	&--list {
		@include flex-dja(row, flex-start, center);
		list-style: none;
		@include tablet {
			padding: 0 2.25rem;
		}
		@include desktop {
			padding: 2.25rem;
		}
		& > li {
			@include mobile {
				width: 100%;
				padding-bottom: 1rem;
				@include mobile-text-style-6;
				&:active {
					@include mobile-text-style-6;
					width: 100%;
					padding-bottom: 1rem;
					border-bottom: 0.1875rem $color-mercury solid;
				}
				&:hover {
					@include mobile-text-style-6;
					width: 100%;
					color: $color-white;
					text-decoration: none;
					padding-bottom: 1rem;
					border-bottom: 0.1875rem $color-mercury solid;
				}
			}
			@include tablet {
				padding: 0 2.25rem;
				@include desktop-text-style-6;
				&:active {
					@include desktop-text-style-6;
					padding-bottom: 2.25rem;
					margin-bottom: -2.25rem;
					border-bottom: 0.1875rem $color-mercury solid;
				}
				&:hover {
					@include desktop-text-style-6;
					color: $color-white;
					text-decoration: none;
					padding-bottom: 2.25rem;
					margin-bottom: -2.25rem;
					border-bottom: 0.1875rem $color-mercury solid;
				}
			}
			@include desktop {
				@include desktop-text-style-6;
				padding: 0 2.25rem;

				&:active {
					@include desktop-text-style-6;
					padding-bottom: 4.25rem;
					margin-bottom: -4.25rem;
					border-bottom: 0.1875rem $color-mercury solid;
				}
				&:hover {
					@include desktop-text-style-6;
					color: $color-white;
					text-decoration: none;
					padding-bottom: 4.25rem;
					margin-bottom: -4.25rem;
					border-bottom: 0.1875rem $color-mercury solid;
				}
			}
		}
	}
}
.hero {
	position: relative;
	width: 100%;
	&__overlay {
		position: absolute;
		background-color: $color-bandsite-black;
		opacity: 50%;
		z-index: 1;
		width: 100%;
		height: 100%;
	}
	&__title {
		position: relative;
		z-index: 2;
		color: $color-white;
		@include mobile {
			@include mobile-text-style-3;
			padding: 1rem;
			padding-bottom: 0;
		}
		@include tablet {
			@include desktop-text-style-3;
			padding: 2.5rem;
			padding-bottom: 0;
		}
		@include desktop {
			@include desktop-text-style-3;
			padding: 2.5rem;
			padding-bottom: 0;
		}
	}
	&__container {
		z-index: 2;
		display: flex;
		@include mobile {
			flex-direction: column;
			height: 100%;
			width: 75%;
			padding: 1rem;
		}
		@include tablet {
			flex-direction: column;
		}
		@include desktop {
			flex-direction: row;
		}

		&--iframe {
			padding: 1rem 0;
			position: relative;
			z-index: 2;
			width: 25rem;
		}
		&--soundcloud {
			height: 10rem;
			border-radius: 10px;
		}
		&--bottom {
			display: flex;
			@include mobile {
				flex-direction: column;
				padding: 1rem;
			}
			@include tablet {
				flex-direction: column;
				padding: 2.5rem;
			}
			@include desktop {
				padding: 2.5rem;
				justify-content: space-between;
			}
		}
	}
	&__subtitle {
		position: relative;
		z-index: 2;
		color: $color-white;
		@include mobile {
			@include mobile-text-style-1;
			width: 35%;
		}
		@include tablet {
			@include desktop-text-style-1;
			width: 80%;
		}
		@include desktop {
			@include desktop-text-style-1;
			width: 50%;
		}
	}
	&__wrapper {
		position: relative;
		background-image: url("../assets/images/hero-shows.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		@include mobile {
			height: 50vh;
		}
		@include tablet {
			height: 70vh;
		}
		@include desktop {
			height: 75vh;
		}
	}
}
.logo {
	@include mobile {
		height: 20px;
		width: 120px;
	}
	@include tablet {
		height: 1.25rem;
		width: 7.5rem;
	}
	@include desktop {
		height: 1.25rem;
		width: 7.5rem;
	}
}
.footer {
	position: relative;
	color: $color-white;
	background-color: $color-bandsite-black;
	// width: 100%;
	&__container {
		&--top {
			@include mobile {
				padding: 1.5rem 1rem;
				@include flex-dja(column, flex-start, flex-start);
			}
			@include tablet {
				padding: 3rem 2.25rem 2.25rem 2.25rem;
				@include flex-dja(row, none, flex-start);
				& div {
					align-self: center;
				}
			}
			@include desktop {
				padding: 3rem 2.25rem 2.25rem 2.25rem;
				@include flex-dja(row, none, flex-start);
				& div {
					align-self: center;
				}
			}
		}
		&--middle {
			@include flex-dja(row, flex-start, flex-start);
			padding: 0 2.25rem;
			@include mobile {
				@include flex-dja(column, flex-start, flex-start);
				padding: 0;
			}
		}
		&--bottom {
			padding: 0 2.25rem;
			@include mobile {
				padding: 1rem;
				& p {
					@include mobile-text-style-5;
					padding: 1rem 0;
				}
			}
			& > a > img {
				@include tablet {
					display: none;
				}
				@include desktop {
					display: none;
				}
			}
		}
	}
	&__heading {
		&--title {
			@include desktop-text-style-2;
			display: flex;
			align-items: flex-start;
			@include mobile {
				@include mobile-text-style-2;
				padding-bottom: 1rem;
			}
		}
		&--icons {
			padding-left: 0;
			& div {
				margin: 0 2rem;
			}
			& div a {
				margin-right: 1rem;
			}
			@include mobile {
				& div {
					margin: 0;
				}
				display: flex;
				& div:nth-child(2) {
					display: none;
				}
				& div a {
					padding: 1rem 2rem 1rem 0;
				}
			}
			& div:nth-child(3) {
				justify-content: flex-end;
			}
		}
		&--logo {
			@include mobile {
				display: none;
			}
			margin-left: auto;
		}
	}
	&--contact-info {
		&:last-child {
			text-decoration: none;
			color: $color-white;
		}
		@include mobile {
			padding: 1rem;
			@include flex-dja(column, none, none);
			& > h2 {
				@include mobile-text-style-3;
			}
			& > h3 {
				@include mobile-text-style-5;
				padding-top: 1rem;
			}
		}
		padding-right: 2.25rem;
		@include flex-dja(column, none, none);
		& > h2 {
			@include desktop-text-style-3;
			padding-bottom: 1rem;
		}
		& > h3 {
			@include desktop-text-style-5;
			padding-bottom: 1rem;
		}
	}
}
.shows {
	@include mobile {
		padding: 1rem;
	}
	@include tablet {
		padding: 2.5rem;
	}
	@include desktop {
		padding: 2.5rem;
	}

	&__button {
		display: flex;
		background-color: $color-bandsite-black;
		border: none;
		color: $color-white;
		padding: 1rem;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 5px;
		@include mobile {
			flex-grow: 1;
			align-self: center;
		}
	}
	@include mobile {
		&__heading {
			@include mobile-text-style-1;
		}
		&__container {
			display: flex;
			@include mobile {
				flex-direction: column;
				&--button {
					display: flex;
					flex-grow: 1;
					justify-content: center;
					padding: 1rem 0;
				}
				&--info {
					@include mobile-text-style-4;
				}
				&--heading {
					color: $color-silver;
					@include mobile-text-style-4;
				}
				border-bottom: 2px silver solid;
				&--date {
					padding-top: 1rem;
					display: flex;
					flex-direction: column;
					& p:nth-child(2) {
						font-family: "Avenir Demi";
					}
				}
				&--venue {
					padding-top: 1rem;
					display: flex;
					flex-direction: column;
				}
				&--location {
					padding-top: 1rem;
					display: flex;
					flex-direction: column;
				}
			}
		}
	}
	@include tablet {
		&__heading {
			@include desktop-text-style-2;
		}
		&__container {
			@include flex-dja(row, space-between, center);
			padding: 1rem 0;
			&--info {
				@include desktop-text-style-4;
			}
			&--heading {
				color: $color-silver;
				@include desktop-text-style-4;
			}
			border-bottom: 2px silver solid;
			&--date {
				width: 25%;
				padding-top: 1rem;
				display: flex;
				flex-direction: column;
				& p:nth-child(2) {
					font-family: "Avenir Demi";
				}
			}
			&--venue {
				width: 20%;
				padding-top: 1rem;
				display: flex;
				flex-direction: column;
			}
			&--location {
				padding-top: 1rem;
				display: flex;
				flex-direction: column;
			}
		}
	}
	@include desktop {
		&__heading {
			display: block;
			@include desktop-text-style-2;
		}
		&__container {
			@include flex-dja(row, space-between, center);
			padding: 1rem 0;
			&--info {
				@include desktop-text-style-4;
			}
			&--heading {
				color: $color-silver;
				@include desktop-text-style-4;
			}
			border-bottom: 2px silver solid;
			&--date {
				width: 25%;
				padding-top: 1rem;
				display: flex;
				flex-direction: column;
				& p:nth-child(2) {
					font-family: "Avenir Demi";
				}
			}
			&--venue {
				width: 20%;
				padding-top: 1rem;
				display: flex;
				flex-direction: column;
			}
			&--location {
				padding-top: 1rem;
				display: flex;
				flex-direction: column;
			}
		}
	}
}
