@font-face {
  font-family: "Avenir Regular";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "Avenir Bold";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf");
  font-weight: 100;
}
@font-face {
  font-family: "Avenir Demi";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf");
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  color: #ffffff;
  background-color: #323232;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
.header a {
  color: #ffffff;
  text-decoration: none;
}

.navbar {
  width: 100%;
}
.navbar--list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .navbar--list {
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar--list {
    padding: 2.25rem;
  }
}
@media screen and (max-width: 767px) {
  .navbar--list > li {
    width: 100%;
    padding-bottom: 1rem;
    font-size: 0.625rem;
    font-family: "Avenir Bold";
    line-height: 1.25rem;
  }
  .navbar--list > li:active {
    font-size: 0.625rem;
    font-family: "Avenir Bold";
    line-height: 1.25rem;
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 0.1875rem #e1e1e1 solid;
  }
  .navbar--list > li:hover {
    font-size: 0.625rem;
    font-family: "Avenir Bold";
    line-height: 1.25rem;
    width: 100%;
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 1rem;
    border-bottom: 0.1875rem #e1e1e1 solid;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .navbar--list > li {
    padding: 0 2.25rem;
    font-size: 0.75rem;
    font-family: "Avenir Bold";
    line-height: 1.25rem;
  }
  .navbar--list > li:active {
    font-size: 0.75rem;
    font-family: "Avenir Bold";
    line-height: 1.25rem;
    padding-bottom: 2.25rem;
    margin-bottom: -2.25rem;
    border-bottom: 0.1875rem #e1e1e1 solid;
  }
  .navbar--list > li:hover {
    font-size: 0.75rem;
    font-family: "Avenir Bold";
    line-height: 1.25rem;
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 2.25rem;
    margin-bottom: -2.25rem;
    border-bottom: 0.1875rem #e1e1e1 solid;
  }
}
@media screen and (min-width: 1280px) {
  .navbar--list > li {
    font-size: 0.75rem;
    font-family: "Avenir Bold";
    line-height: 1.25rem;
    padding: 0 2.25rem;
  }
  .navbar--list > li:active {
    font-size: 0.75rem;
    font-family: "Avenir Bold";
    line-height: 1.25rem;
    padding-bottom: 4.25rem;
    margin-bottom: -4.25rem;
    border-bottom: 0.1875rem #e1e1e1 solid;
  }
  .navbar--list > li:hover {
    font-size: 0.75rem;
    font-family: "Avenir Bold";
    line-height: 1.25rem;
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 4.25rem;
    margin-bottom: -4.25rem;
    border-bottom: 0.1875rem #e1e1e1 solid;
  }
}

.hero {
  position: relative;
  width: 100%;
}
.hero__overlay {
  position: absolute;
  background-color: #323232;
  opacity: 50%;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.hero__title {
  position: relative;
  z-index: 2;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 0.875rem;
    font-family: "Avenir Demi";
    line-height: 1.375rem;
    padding: 1rem;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__title {
    font-size: 1.5rem;
    font-family: "Avenir Demi";
    line-height: 2rem;
    padding: 2.5rem;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 1.5rem;
    font-family: "Avenir Demi";
    line-height: 2rem;
    padding: 2.5rem;
    padding-bottom: 0;
  }
}
.hero__container {
  z-index: 2;
  display: flex;
}
@media screen and (max-width: 767px) {
  .hero__container {
    flex-direction: column;
    height: 100%;
    width: 75%;
    padding: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__container {
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .hero__container {
    flex-direction: row;
  }
}
.hero__container--iframe {
  padding: 1rem 0;
  position: relative;
  z-index: 2;
  width: 25rem;
}
.hero__container--soundcloud {
  height: 10rem;
  border-radius: 10px;
}
.hero__container--bottom {
  display: flex;
}
@media screen and (max-width: 767px) {
  .hero__container--bottom {
    flex-direction: column;
    padding: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__container--bottom {
    flex-direction: column;
    padding: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__container--bottom {
    padding: 2.5rem;
    justify-content: space-between;
  }
}
.hero__subtitle {
  position: relative;
  z-index: 2;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .hero__subtitle {
    font-size: 1.5rem;
    font-family: "Avenir Bold";
    line-height: 2rem;
    width: 35%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__subtitle {
    font-size: 3.75rem;
    font-family: "Avenir Bold";
    line-height: 4.25rem;
    width: 80%;
  }
}
@media screen and (min-width: 1280px) {
  .hero__subtitle {
    font-size: 3.75rem;
    font-family: "Avenir Bold";
    line-height: 4.25rem;
    width: 50%;
  }
}
.hero__wrapper {
  position: relative;
  background-image: url("../assets/images/hero-shows.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 767px) {
  .hero__wrapper {
    height: 50vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__wrapper {
    height: 70vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero__wrapper {
    height: 75vh;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    height: 20px;
    width: 120px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .logo {
    height: 1.25rem;
    width: 7.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    height: 1.25rem;
    width: 7.5rem;
  }
}

.footer {
  position: relative;
  color: #ffffff;
  background-color: #323232;
}
@media screen and (max-width: 767px) {
  .footer__container--top {
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__container--top {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: flex-start;
  }
  .footer__container--top div {
    align-self: center;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container--top {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: flex-start;
  }
  .footer__container--top div {
    align-self: center;
  }
}
.footer__container--middle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 2.25rem;
}
@media screen and (max-width: 767px) {
  .footer__container--middle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }
}
.footer__container--bottom {
  padding: 0 2.25rem;
}
@media screen and (max-width: 767px) {
  .footer__container--bottom {
    padding: 1rem;
  }
  .footer__container--bottom p {
    font-size: 0.8125rem;
    font-family: "Avenir Regular";
    line-height: 1.125rem;
    padding: 1rem 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__container--bottom > a > img {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container--bottom > a > img {
    display: none;
  }
}
.footer__heading--title {
  font-size: 2.25rem;
  font-family: "Avenir Bold";
  line-height: 2.75rem;
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 767px) {
  .footer__heading--title {
    font-size: 1.5rem;
    font-family: "Avenir Bold";
    line-height: 1.375rem;
    padding-bottom: 1rem;
  }
}
.footer__heading--icons {
  padding-left: 0;
}
.footer__heading--icons div {
  margin: 0 2rem;
}
.footer__heading--icons div a {
  margin-right: 1rem;
}
@media screen and (max-width: 767px) {
  .footer__heading--icons {
    display: flex;
  }
  .footer__heading--icons div {
    margin: 0;
  }
  .footer__heading--icons div:nth-child(2) {
    display: none;
  }
  .footer__heading--icons div a {
    padding: 1rem 2rem 1rem 0;
  }
}
.footer__heading--icons div:nth-child(3) {
  justify-content: flex-end;
}
.footer__heading--logo {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .footer__heading--logo {
    display: none;
  }
}
.footer--contact-info {
  padding-right: 2.25rem;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
}
.footer--contact-info:last-child {
  text-decoration: none;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .footer--contact-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
  }
  .footer--contact-info > h2 {
    font-size: 0.875rem;
    font-family: "Avenir Demi";
    line-height: 1.375rem;
  }
  .footer--contact-info > h3 {
    font-size: 0.8125rem;
    font-family: "Avenir Regular";
    line-height: 1.125rem;
    padding-top: 1rem;
  }
}
.footer--contact-info > h2 {
  font-size: 1.5rem;
  font-family: "Avenir Demi";
  line-height: 2rem;
  padding-bottom: 1rem;
}
.footer--contact-info > h3 {
  font-size: 0.875rem;
  font-family: "Avenir Regular";
  line-height: 1.25rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  .shows {
    padding: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows {
    padding: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    padding: 2.5rem;
  }
}
.shows__button {
  display: flex;
  background-color: #323232;
  border: none;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .shows__button {
    flex-grow: 1;
    align-self: center;
  }
}
@media screen and (max-width: 767px) {
  .shows__heading {
    font-size: 1.5rem;
    font-family: "Avenir Bold";
    line-height: 2rem;
  }
  .shows__container {
    display: flex;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .shows__container {
    flex-direction: column;
    border-bottom: 2px silver solid;
  }
  .shows__container--button {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 1rem 0;
  }
  .shows__container--info {
    font-size: 0.8125rem;
    font-family: "Avenir Regular";
    line-height: 1.125rem;
  }
  .shows__container--heading {
    color: #afafaf;
    font-size: 0.8125rem;
    font-family: "Avenir Regular";
    line-height: 1.125rem;
  }
  .shows__container--date {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .shows__container--date p:nth-child(2) {
    font-family: "Avenir Demi";
  }
  .shows__container--venue {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .shows__container--location {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows__heading {
    font-size: 2.25rem;
    font-family: "Avenir Bold";
    line-height: 2.75rem;
  }
  .shows__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 2px silver solid;
  }
  .shows__container--info {
    font-size: 0.875rem;
    font-family: "Avenir Regular";
    line-height: 1.375rem;
  }
  .shows__container--heading {
    color: #afafaf;
    font-size: 0.875rem;
    font-family: "Avenir Regular";
    line-height: 1.375rem;
  }
  .shows__container--date {
    width: 25%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .shows__container--date p:nth-child(2) {
    font-family: "Avenir Demi";
  }
  .shows__container--venue {
    width: 20%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .shows__container--location {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .shows__heading {
    display: block;
    font-size: 2.25rem;
    font-family: "Avenir Bold";
    line-height: 2.75rem;
  }
  .shows__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 2px silver solid;
  }
  .shows__container--info {
    font-size: 0.875rem;
    font-family: "Avenir Regular";
    line-height: 1.375rem;
  }
  .shows__container--heading {
    color: #afafaf;
    font-size: 0.875rem;
    font-family: "Avenir Regular";
    line-height: 1.375rem;
  }
  .shows__container--date {
    width: 25%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .shows__container--date p:nth-child(2) {
    font-family: "Avenir Demi";
  }
  .shows__container--venue {
    width: 20%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .shows__container--location {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=shows.css.map */