@font-face {
  font-family: "Avenir Regular";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "Avenir Bold";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf");
  font-weight: 100;
}
@font-face {
  font-family: "Avenir Demi";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf");
}
.soundcloud__container {
  height: 10rem;
  width: 15rem;
}
.soundcloud__iframe {
  z-index: 2;
  position: relative;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .soundcloud__iframe {
    height: 100px;
    padding: 1rem 0;
    width: 15rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .soundcloud__iframe {
    height: 10rem;
    width: 25rem;
  }
}
@media screen and (min-width: 1280px) {
  .soundcloud__iframe {
    width: 38rem;
  }
}
.soundcloud a {
  display: none;
}

.sc-button-cta {
  display: none;
}

@font-face {
  font-family: "Avenir Regular";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "Avenir Bold";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf");
  font-weight: 100;
}
@font-face {
  font-family: "Avenir Demi";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Avenir";
}

.navbar {
  display: flex;
  background-color: #323232;
  flex-direction: row;
  font-size: 0.875rem;
  font-family: "Avenir";
  line-height: 1.375rem;
}
@media screen and (max-width: 767px) {
  .navbar {
    flex-direction: column;
    font-size: 0.8125rem;
    font-family: "Avenir";
    line-height: 1.125rem;
  }
}
.navbar__container {
  display: flex;
}
@media screen and (max-width: 767px) {
  .navbar__container {
    justify-content: center;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .navbar__container {
    padding: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__container {
    padding: 2.25rem 2.25rem 2.25rem 7rem;
  }
}
.navbar__list {
  list-style: none;
  display: inline-block;
  width: 100%;
  justify-content: space-around;
  padding-top: 1rem;
}
@media screen and (max-width: 767px) {
  .navbar__list {
    display: flex;
  }
}
.navbar__list a {
  display: inline-block;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .navbar__list a {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.navbar__link {
  color: #ffffff;
  width: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1.5rem 2rem 0;
  padding-bottom: 2rem;
}
@media screen and (max-width: 767px) {
  .navbar__link {
    text-align: center;
    padding-bottom: 0.5rem;
    margin: 0;
    width: 100%;
  }
}
.navbar__link:hover {
  border-bottom: 3px solid #e1e1e1;
}

.bandsite-logo {
  display: flex;
  max-height: 1.25rem;
  width: 7.5rem;
}

.current {
  border-bottom: 3px solid #e1e1e1;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  width: 100%;
  padding: 1rem;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding: 2.625rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 2.1875rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__container {
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  .footer__container--top {
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__container--top {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container--top {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__container--bottom {
    padding-top: 1.875rem;
    display: flex;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container--bottom {
    padding-top: 1.875rem;
    display: flex;
    justify-content: flex-start;
    width: 70%;
  }
}
.footer__title {
  font-size: 2.25rem;
  font-family: "Avenir";
  line-height: 2.75rem;
  margin-right: 34px;
}
@media screen and (max-width: 767px) {
  .footer__title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-family: "Avenir";
    line-height: 1.375rem;
  }
}
.footer a {
  text-decoration: none;
}
.footer__icon {
  padding-right: 1.5rem;
}
.footer__wrapper {
  padding-bottom: 1.5rem;
}
@media screen and (max-width: 767px) {
  .footer__wrapper {
    padding-bottom: 1rem;
  }
}
.footer__wrapper--team {
  font-size: 0.875rem;
  font-family: "Avenir";
  line-height: 1.25rem;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .footer__wrapper--team {
    font-size: 0.8125rem;
    font-family: "Avenir";
    line-height: 1.125rem;
    font-weight: 600;
  }
}
@media screen and (max-width: 767px) {
  .footer__wrapper--address {
    font-size: 0.8125rem;
    font-family: "Avenir";
    line-height: 1.125rem;
  }
}
.footer__wrapper--email {
  font-size: 0.875rem;
  font-family: "Avenir";
  line-height: 1.25rem;
}
@media screen and (max-width: 767px) {
  .footer__wrapper--email {
    font-size: 0.8125rem;
    font-family: "Avenir";
    line-height: 1.125rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__section {
    display: flex;
    flex-direction: column;
    margin-right: 3.125rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__section {
    display: flex;
    flex-direction: column;
    margin-right: 3.125rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__logo {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    padding-right: 1rem;
  }
}
.footer__copyright {
  font-size: 0.875rem;
  font-family: "Avenir";
  line-height: 1.25rem;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 0.8125rem;
    font-family: "Avenir";
    line-height: 1.125rem;
  }
}

.hero {
  position: relative;
  background-image: url("../assets/images/hero-shows.jpg");
  width: 100%;
}
@media screen and (max-width: 767px) {
  .hero {
    height: 33vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero {
    height: 33rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 36rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.hero__heading {
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .hero__heading {
    font-size: 0.875rem;
    font-family: "Avenir";
    line-height: 1.375rem;
    padding: 1.5rem 0 0 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__heading {
    font-size: 1.5rem;
    font-family: "Avenir";
    line-height: 2rem;
    padding: 3rem 0 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__heading {
    font-size: 1.5rem;
    font-family: "Avenir";
    line-height: 2rem;
    padding-left: 7rem;
  }
}
.hero__heading--subtitle {
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .hero__heading--subtitle {
    font-size: 1.5rem;
    font-family: "Avenir";
    line-height: 2rem;
    padding: 1rem 0 0 1rem;
    width: 15rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__heading--subtitle {
    font-size: 3.75rem;
    font-family: "Avenir";
    line-height: 4.25rem;
    padding: 2.25rem 0 0 2.25rem;
    width: 36rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__heading--subtitle {
    font-size: 3.75rem;
    font-family: "Avenir";
    line-height: 4.25rem;
    padding: 2.25rem 0 0 7rem;
    width: 38rem;
  }
}
.hero__overlay {
  position: absolute;
  background-color: #323232;
  opacity: 50%;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.hero__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .hero__container {
    flex-direction: row;
    height: 100%;
  }
}
.hero__container--top {
  z-index: 2;
  display: flex;
}
@media screen and (max-width: 767px) {
  .hero__container--top {
    flex-direction: column;
    height: 100%;
    width: 75%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__container--top {
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .hero__container--top {
    justify-content: center;
    flex-direction: column;
  }
}
.hero__container--bottom {
  display: flex;
}
@media screen and (max-width: 767px) {
  .hero__container--bottom {
    flex-direction: column;
    padding: 0 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__container--bottom {
    flex-direction: column;
    padding: 0 2.5rem;
    padding-top: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__container--bottom {
    flex-direction: column;
    margin-top: 2.25rem;
    padding: 2.5rem;
    justify-content: center;
    width: 100%;
  }
}
.hero__wrapper {
  position: relative;
  background-image: url("../assets/images/hero-shows.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 767px) {
  .hero__wrapper {
    height: 50vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__wrapper {
    height: 70vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero__wrapper {
    height: 75vh;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    height: 20px;
    width: 120px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .logo {
    height: 1.25rem;
    width: 7.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    height: 1.25rem;
    width: 7.5rem;
  }
}

@media screen and (max-width: 767px) {
  .shows {
    padding: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows {
    padding: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    padding: 2.5rem;
  }
}
.shows__button {
  display: flex;
  background-color: #323232;
  border: none;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .shows__button {
    min-width: 15rem;
    max-width: 25rem;
    align-self: center;
  }
}
@media screen and (max-width: 767px) {
  .shows__heading {
    font-size: 1.5rem;
    font-family: "Avenir";
    line-height: 2rem;
  }
  .shows__container {
    display: flex;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .shows__container {
    flex-direction: column;
    border-bottom: 2px silver solid;
  }
  .shows__container--button {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 1rem 0;
  }
  .shows__container--info {
    font-size: 0.8125rem;
    font-family: "Avenir";
    line-height: 1.125rem;
  }
  .shows__container--heading {
    color: #afafaf;
    font-size: 0.8125rem;
    font-family: "Avenir";
    line-height: 1.125rem;
  }
  .shows__container--date {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .shows__container--date p:nth-child(2) {
    font-family: "Avenir Demi";
  }
  .shows__container--venue {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .shows__container--location {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows__heading {
    font-size: 2.25rem;
    font-family: "Avenir";
    line-height: 2.75rem;
  }
  .shows__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 2px silver solid;
  }
  .shows__container--info {
    font-size: 0.875rem;
    font-family: "Avenir";
    line-height: 1.375rem;
  }
  .shows__container--heading {
    color: #afafaf;
    font-size: 0.875rem;
    font-family: "Avenir";
    line-height: 1.375rem;
  }
  .shows__container--date {
    width: 25%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .shows__container--date p:nth-child(2) {
    font-family: "Avenir Demi";
  }
  .shows__container--venue {
    width: 20%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .shows__container--location {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .shows__heading {
    display: block;
    font-size: 2.25rem;
    font-family: "Avenir";
    line-height: 2.75rem;
  }
  .shows__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 2px silver solid;
  }
  .shows__container--info {
    font-size: 0.875rem;
    font-family: "Avenir";
    line-height: 1.375rem;
  }
  .shows__container--heading {
    color: #afafaf;
    font-size: 0.875rem;
    font-family: "Avenir";
    line-height: 1.375rem;
  }
  .shows__container--date {
    width: 25%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .shows__container--date p:nth-child(2) {
    font-family: "Avenir Demi";
  }
  .shows__container--venue {
    width: 20%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .shows__container--location {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .invisible {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .invisible {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .invisible {
    display: flex;
    width: 30%;
  }
}/*# sourceMappingURL=shows.css.map */