@use "./partials/colors" as *;
@use "./partials/mixin" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;
@use "./partials/soundcloud" as *;
@import "./partials/globals";

.hero {
	position: relative;
	background-image: url("../assets/images/hero-shows.jpg");
	width: 100%;
	@include mobile {
		height: 33vh;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	@include tablet {
		height: 33rem;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	@include desktop {
		height: 36rem;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&__heading {
		position: relative;
		z-index: 2;
		color: $color-white;
		font-weight: 400;
		@include mobile {
			@include mobile-text-style-3;
			padding: 1.5rem 0 0 1rem;
		}
		@include tablet {
			@include desktop-text-style-3;
			padding: 3rem 0 0 2.25rem;
		}
		@include desktop {
			@include desktop-text-style-3;
			padding-left: 7rem;
		}
		&--subtitle {
			position: relative;
			z-index: 2;
			color: $color-white;
			font-weight: 600;
			@include mobile {
				@include mobile-text-style-1;
				padding: 1rem 0 0 1rem;
				width: 15rem;
			}
			@include tablet {
				@include desktop-text-style-1;
				padding: 2.25rem 0 0 2.25rem;
				width: 36rem;
			}
			@include desktop {
				@include desktop-text-style-1;
				padding: 2.25rem 0 0 7rem;
				width: 38rem;
			}
		}
	}
	&__overlay {
		position: absolute;
		background-color: $color-bandsite-black;
		opacity: 50%;
		z-index: 1;
		width: 100%;
		height: 100%;
	}
	&__container {
		display: flex;
		flex-direction: column;
		@include desktop {
			flex-direction: row;
			height: 100%;
		}
		&--top {
			z-index: 2;
			display: flex;
			@include mobile {
				flex-direction: column;
				height: 100%;
				width: 75%;
			}
			@include tablet {
				flex-direction: column;
			}
			@include desktop {
				justify-content: center;
				flex-direction: column;
			}
		}
		&--bottom {
			display: flex;
			@include mobile {
				flex-direction: column;
				padding: 0 1rem;
			}
			@include tablet {
				flex-direction: column;
				padding: 0 2.5rem;
				padding-top: 3rem;
			}
			@include desktop {
				flex-direction: column;
				margin-top: 2.25rem;
				padding: 2.5rem;
				justify-content: center;
				width: 100%;
			}
		}
	}
}
.logo {
	@include mobile {
		height: 20px;
		width: 120px;
	}
	@include tablet {
		height: 1.25rem;
		width: 7.5rem;
	}
	@include desktop {
		height: 1.25rem;
		width: 7.5rem;
	}
}
.shows {
	@include mobile {
		padding: 1rem;
	}
	@include tablet {
		padding: 2.5rem;
	}
	@include desktop {
		display: flex;
		justify-content: space-around;
		padding: 2.5rem;
	}

	&__button {
		display: flex;
		height: 40px;
		background-color: $color-bandsite-black;
		border: none;
		color: $color-white;
		padding: 0 2rem;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		min-width: 150px;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 5px;
		@include mobile {
			width: 100%;
			align-self: center;
		}
	}
	@include mobile {
		&__heading {
			@include mobile-text-style-1;
		}
		&__container {
			&:hover {
				background-color: $color-alabaster;
			}
			&--selected {
				background-color: $color-mercury;
			}
			display: flex;
			@include mobile {
				flex-direction: column;
				&--button {
					display: flex;
					flex-grow: 1;
					justify-content: center;
					padding: 1rem 0;
				}
				&--info {
					@include mobile-text-style-4;
				}
				&--heading {
					color: $color-silver;
					@include mobile-text-style-4;
				}
				border-bottom: 2px silver solid;
				&--date {
					padding-top: 1rem;
					display: flex;
					flex-direction: column;
					& p:nth-child(2) {
						font-family: "Avenir Demi";
					}
				}
				&--venue {
					padding-top: 1rem;
					display: flex;
					flex-direction: column;
				}
				&--location {
					padding-top: 1rem;
					display: flex;
					flex-direction: column;
				}
			}
		}
	}
	@include tablet {
		&__heading {
			@include desktop-text-style-2;
		}
		&__container {
			&:hover {
				background-color: $color-alabaster;
			}
			&--selected {
				background-color: $color-mercury;
			}

			@include flex-dja(row, space-between, center);
			padding: 1rem 0;
			&--info {
				@include desktop-text-style-4;
			}
			&--heading {
				color: $color-silver;
				@include desktop-text-style-4;
			}
			border-bottom: 2px silver solid;
			&--date {
				width: 25%;
				padding-top: 1rem;
				display: flex;
				flex-direction: column;
				& p:nth-child(2) {
					font-family: "Avenir Demi";
				}
			}
			&--venue {
				width: 20%;
				padding-top: 1rem;
				display: flex;
				flex-direction: column;
			}
			&--location {
				padding-top: 1rem;
				display: flex;
				flex-direction: column;
			}
		}
	}
	@include desktop {
		&__heading {
			margin-left: 2rem;
			display: block;
			@include desktop-text-style-2;
		}
		&__container {
			&--whole {
				@include desktop {
					width: 70%;
				}
			}
			&:hover {
				background-color: $color-alabaster;
			}
			&--selected {
				background-color: $color-mercury;
			}
			@include flex-dja(row, space-between, center);
			padding: 1rem 0;
			&--info {
				@include desktop-text-style-4;
			}
			&--heading {
				color: $color-silver;
				@include desktop-text-style-4;
			}
			border-bottom: 2px silver solid;
			&--date {
				width: 25%;
				padding-top: 1rem;
				display: flex;
				flex-direction: column;
				& p:nth-child(2) {
					font-family: "Avenir Demi";
				}
			}
			&--venue {
				width: 20%;
				padding-top: 1rem;
				display: flex;
				flex-direction: column;
			}
			&--location {
				padding-top: 1rem;
				display: flex;
				flex-direction: column;
			}
		}
	}
}
