@use "../css/partials/colors" as *;
@use "../css/partials/mixin" as *;
@use "../css/partials/typography" as *;
@use "../css/partials/variables" as *;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.navbar {
	display: flex;
	@include mobile {
		flex-direction: column;
		background-color: $color-bandsite-black;
		font-weight: 400;
		font-size: 10px;
		line-height: 15px;
	}

	flex-direction: row;
	background-color: $color-bandsite-black;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;

	&__container {
		display: flex;
		@include mobile {
			justify-content: center;
			padding-top: 1.2rem;
		}
		@include tablet {
			padding-left: 2rem;
			padding-top: 2rem;
			padding-bottom: 1rem;
		}
		@include desktop {
			padding-top: 2rem;
			padding-left: 7rem;
			padding-bottom: 2rem;
		}
	}
	@include tablet {
		display: flex;
		background-color: $color-bandsite-black;
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
	}
	&__list {
		@include mobile {
			display: flex;
		}
		list-style: none;
		display: inline-block;
		width: 100vw;
		justify-content: space-around;
		padding-top: 13px;
		a {
			@include mobile {
				display: flex;
				justify-content: center;
				width: 100%;
			}
			display: inline-block;
		}
	}
	&__link {
		color: $color-white;
		width: 100%;
		width: fit-content;
		margin: 24px 32px 0;
		padding-bottom: 32px;
		@include mobile {
			text-align: center;
			padding-bottom: 8px;
			margin: 0;
			width: 100%;
		}

		&--selected {
			border-bottom: 3px solid $color-mercury;
		}
		&:hover {
			border-bottom: 3px solid $color-mercury;
		}
	}
}

.bandsite-logo {
	display: flex;
	height: 20px;
	width: 120px;
}
