@use "../css/partials/colors" as *;
@use "../css/partials/mixin" as *;
@use "../css/partials/typography" as *;
@use "../css/partials/variables" as *;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.navbar {
	display: flex;
	@include mobile {
		flex-direction: column;
		background-color: $color-bandsite-black;
		font-weight: 400;
		font-size: 10px;
		line-height: 15px;
	}

	flex-direction: row;
	background-color: $color-bandsite-black;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;

	&__container {
		display: flex;
		@include mobile {
			justify-content: center;
			padding-top: 1.2rem;
		}
		@include tablet {
			padding-left: 2rem;
			padding-top: 2rem;
			padding-bottom: 1rem;
		}
		@include desktop {
			padding-top: 2rem;
			padding-left: 7rem;
			padding-bottom: 2rem;
		}
	}
	@include tablet {
		display: flex;
		background-color: $color-bandsite-black;
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
	}
	&__list {
		@include mobile {
			display: flex;
		}
		list-style: none;
		display: inline-block;
		width: 100vw;
		justify-content: space-around;
		padding-top: 13px;
		a {
			@include mobile {
				display: flex;
				justify-content: center;
				width: 100%;
				text-decoration: none;
			}
			display: inline-block;
		}
	}
	&__link {
		color: $color-white;
		width: 100%;
		width: fit-content;
		margin: 24px 32px 0;
		padding-bottom: 32px;
		@include mobile {
			text-align: center;
			padding-bottom: 8px;
			margin: 0;
			width: 100%;
		}
		&:hover {
			border-bottom: 3px solid $color-mercury;
		}
	}
}

.bandsite-logo {
	display: flex;
	height: 20px;
	width: 120px;
}
.current {
	border-bottom: 3px solid $color-mercury;
}

.footer {
	&__container {
		position: relative;
		background-color: $color-bandsite-black;
		color: $color-white;
		@include mobile {
			padding: 1rem;
			width: 100%;
		}
		@include tablet {
		}
		@include desktop {
		}
		&--top {
			@include mobile {
				@include flex-dja(column, flex-start, flex-start);
			}
			@include tablet {
				padding: 3rem 2.25rem 2.25rem 2.25rem;
				@include flex-dja(row, none, flex-start);
				& div {
					align-self: center;
				}
			}
			@include desktop {
				padding: 3rem 2.25rem 2.25rem 2.25rem;
				@include flex-dja(row, none, flex-start);
				& div {
					align-self: center;
				}
			}
		}
		&--middle {
			@include flex-dja(row, flex-start, flex-start);
			padding: 0 2.25rem;
			@include mobile {
				@include flex-dja(column, flex-start, flex-start);
				padding: 0;
			}
		}
		&--bottom {
			// padding: 0 2.25rem;
			@include mobile {
				// padding: 1rem;
				& p {
					@include mobile-text-style-5;
					padding: 1rem 0;
				}
			}
			& > img {
				@include tablet {
					display: none;
				}
				@include desktop {
					display: none;
				}
			}
		}
	}
	&__heading {
		&--title {
			@include desktop-text-style-2;
			display: flex;
			align-items: flex-start;
			@include mobile {
				@include mobile-text-style-2;
				padding-bottom: 1rem;
			}
		}
		&--icons {
			padding-right: 1rem;

			& div {
				margin: 0 2rem;
			}
			& div a {
				margin-right: 1rem;
			}
			@include mobile {
				& div {
					margin: 0;
				}
				display: flex;
				& div:nth-child(2) {
					display: none;
				}
				& div a {
					padding: 1rem 2rem 1rem 0;
				}
			}
			& div:nth-child(3) {
				justify-content: flex-end;
			}
		}
		&--logo {
			@include mobile {
				display: none;
			}
			margin-left: auto;
		}
	}
	&--contact-info {
		@include mobile {
			// padding: 1rem;
			@include flex-dja(column, none, none);
			& > h2 {
				@include mobile-text-style-3;
			}
			& > h3 {
				@include mobile-text-style-5;
				padding-top: 1rem;
			}
		}
		padding-right: 2.25rem;
		@include flex-dja(column, none, none);
		& > h2 {
			@include desktop-text-style-3;
			padding-bottom: 1rem;
		}
		& > h3 {
			@include desktop-text-style-5;
			padding-bottom: 1rem;
		}
	}
}
