@font-face {
  font-family: "Avenir Regular";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "Avenir Bold";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf");
  font-weight: 100;
}
@font-face {
  font-family: "Avenir Demi";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .shows {
    padding: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows {
    padding: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    padding: 2.5rem;
  }
}
.shows__button {
  display: flex;
  background-color: #323232;
  border: none;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .shows__button {
    flex-grow: 1;
    align-self: center;
  }
}
@media screen and (max-width: 767px) {
  .shows__heading {
    font-size: 1.5rem;
    font-family: "Avenir Bold";
    line-height: 2rem;
  }
  .shows__container {
    display: flex;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .shows__container {
    flex-direction: column;
    border-bottom: 2px silver solid;
  }
  .shows__container--button {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 1rem 0;
  }
  .shows__container--info {
    font-size: 0.8125rem;
    font-family: "Avenir Regular";
    line-height: 1.125rem;
  }
  .shows__container--heading {
    color: #afafaf;
    font-size: 0.8125rem;
    font-family: "Avenir Regular";
    line-height: 1.125rem;
  }
  .shows__container--date {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .shows__container--date p:nth-child(2) {
    font-family: "Avenir Demi";
  }
  .shows__container--venue {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .shows__container--location {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows__heading {
    font-size: 3.75rem;
    font-family: "Avenir Bold";
    line-height: 4.25rem;
  }
  .shows__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 2px silver solid;
  }
  .shows__container--info {
    font-size: 0.875rem;
    font-family: "Avenir Regular";
    line-height: 1.375rem;
  }
  .shows__container--heading {
    color: #afafaf;
    font-size: 0.875rem;
    font-family: "Avenir Regular";
    line-height: 1.375rem;
  }
  .shows__container--date {
    width: 25%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .shows__container--date p:nth-child(2) {
    font-family: "Avenir Demi";
  }
  .shows__container--venue {
    width: 20%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .shows__container--location {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .shows__heading {
    display: block;
    font-size: 3.75rem;
    font-family: "Avenir Bold";
    line-height: 4.25rem;
  }
  .shows__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 2px silver solid;
  }
  .shows__container--info {
    font-size: 0.875rem;
    font-family: "Avenir Regular";
    line-height: 1.375rem;
  }
  .shows__container--heading {
    color: #afafaf;
    font-size: 0.875rem;
    font-family: "Avenir Regular";
    line-height: 1.375rem;
  }
  .shows__container--date {
    width: 25%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .shows__container--date p:nth-child(2) {
    font-family: "Avenir Demi";
  }
  .shows__container--venue {
    width: 20%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .shows__container--location {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=sandbox.css.map */