//Style guide specs

//BandSite-Black: Primary text color for dark on light background. Dark background color
$color-bandsite-black: #323232;
//Silver: Secondary text color. Inactive CTA text color.
$color-silver: #afafaf;
//White: Primary text color for light on dark background. Light background color. Active CTA text color.
$color-white: #ffffff;
//BandSite-DarkBlack: CTA hover state.
$color-bandsite-dark-black: #000000;
//Mercury: Divider line. Form field outline.
$color-mercury: #e1e1e1;
//Alabaster: Alternative light background color
$color-alabaster: #fafafa;
//Error state
$color-error-state-red: #d22d2d;
