@use "./colors" as *;
@use "./mixin" as *;
@use "./typography" as *;
@use "./variables" as *;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Avenir";
}
.navbar {
	display: flex;
	background-color: $color-bandsite-black;
	flex-direction: row;
	@include desktop-text-style-4;
	@include mobile {
		flex-direction: column;
		@include mobile-text-style-4;
	}

	&__container {
		display: flex;
		@include mobile {
			justify-content: center;
			padding-top: 1rem;
		}
		@include tablet {
			padding: 2rem;
		}
		@include desktop {
			padding: 2rem;
			padding-left: 7rem;
		}
	}

	&__list {
		@include mobile {
			display: flex;
		}
		list-style: none;
		display: inline-block;
		width: 100%;
		justify-content: space-around;
		padding-top: 1rem;
		a {
			@include mobile {
				display: flex;
				justify-content: center;
				width: 100%;
			}
			display: inline-block;
			text-decoration: none;
		}
	}
	&__link {
		color: $color-white;
		width: 100%;
		width: fit-content;
		margin: 1.5rem 2rem 0;
		padding-bottom: 2rem;
		@include mobile {
			text-align: center;
			padding-bottom: 0.5rem;
			margin: 0;
			width: 100%;
		}

		&:hover {
			border-bottom: 3px solid $color-mercury;
		}
	}
}
.bandsite-logo {
	display: flex;
	height: 1.25rem;
	width: 7.5rem;
}
.current {
	border-bottom: 3px solid $color-mercury;
}

.footer {
	background-color: $color-bandsite-black;
	color: $color-white;
	width: 100%;
	padding: 1rem;
	margin-top: 1.5rem;
	@include tablet {
		padding: 2.625rem;
	}
	@include desktop {
		padding-top: 2.1875rem;
	}
	&__container {
		@include tablet {
			position: relative;
		}
		&--top {
			@include mobile {
				padding-bottom: 1rem;
			}
			@include tablet {
				display: flex;
				align-items: center;
			}
			@include desktop {
				display: flex;
				align-items: center;
			}
		}
		&--bottom {
			@include tablet {
				padding-top: 1.875rem;
				display: flex;
				justify-content: flex-start;
			}
			@include desktop {
				padding-top: 1.875rem;
				display: flex;
				justify-content: flex-start;
				width: 70%;
			}
		}
	}
	&__title {
		@include desktop-text-style-2;
		margin-right: 34px;
		@include mobile {
			padding-top: 1rem;
			padding-bottom: 1rem;
			@include mobile-text-style-2;
		}
	}
	& a {
		text-decoration: none;
	}
	&__icon {
		padding-right: 1.5rem;
	}
	&__wrapper {
		padding-bottom: 1.5rem;
		@include mobile {
			padding-bottom: 1rem;
		}
		&--team {
			@include mobile {
				@include mobile-text-style-5;
				font-weight: 600;
			}
			@include desktop-text-style-5;
			font-weight: 600;
		}
		&--address {
			@include mobile {
				@include mobile-text-style-5;
			}
		}
		&--email {
			@include mobile {
				@include mobile-text-style-5;
				padding-bottom: 1rem;
			}
			@include desktop-text-style-5;
		}
	}
	&__section {
		@include tablet {
			display: flex;
			flex-direction: column;
			margin-right: 3.125rem;
		}
		@include desktop {
			display: flex;
			flex-direction: column;
			margin-right: 3.125rem;
		}
	}
	&__logo {
		@include tablet {
			position: absolute;
			top: 0;
			right: 0;
			padding-top: 1.5rem;
		}
		@include desktop {
			padding-right: 1rem;
		}
	}
	&__copyright {
		@include mobile {
			@include mobile-text-style-5;
		}
		@include desktop-text-style-5;
	}
}
